:root{
    --clr-brown: #383127;
    --clr-green: #A7C262;
    --clr-white: #FBFAF1;
    --clr-white2:#f1eee6;
    --clr-yellow: #F8B960;
    --clr-red: #A10412;
    --clr-black: #141414;
    --clr-gray: #3F3E3E;
    --clr-gray-light: #bebbba;
    --size-sidebar: 250px;
}
*{
    border: 0; margin: 0; padding: 0;
}
html{
    font-family: 'Montserrat';
}
body{
    background-color: var(--clr-white);
}
nav{
    top: 0;
    height: 40px;
    width: 100%;
    background-color: var(--clr-brown);
    display: flex;
    justify-content: space-between;
    align-items: center;


    > *{
        margin: 0 40px;
        color: var(--clr-white);
        font-size: min(1rem, 2vw);
        font-weight: normal;
    }

    a{
        display: flex;
        align-items: center;
        gap: 30px;
        text-decoration: none;
    }

    .logo{
        display: flex;
        gap: .85em;
        
        #sidebar-toggle{
            cursor: pointer;
        }
        #sidebar-toggle:hover{
            transform: scale(110%);
        }

        #sidebar-toggle.clicked{
            transform: scaleX(-50%);
        }
    }
    
}

main{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "sidebar mainbody"
}

#sidebar{
    grid-area: sidebar;
    width: var(--size-sidebar);
    border-right: 2px solid var(--clr-gray);
    background-color: var(--clr-white);
    height: calc(100vh);
    position: sticky;
    padding: 1em 5px;
    transition: 300ms ease-in-out;
    overflow: hidden;
    top: 0;



    ul{
        list-style: none;
    }

    ul li.active a{
        color: var(--clr-white);

        svg{
            fill: var(--clr-white);
        }
    }

    a{
        border-radius: .5em;
        padding: .85em;
        color: var(--clr-black);
        display: flex;
        align-items: center;
        gap: 2em;
        text-decoration: none;
    }

    svg{
        flex-shrink: 0;
        fill: var(--clr-black);
    }

    a span{
        flex-grow: 1;
    }
    a:hover{
        background-color: var(--clr-gray-light);
    }
}

#sidebar.collapsed{
    padding: 5px;
    width: 50px;
}

.wrapper{
    width: 90%;
    height: 500px;
    background-color: var(--clr-white);
    box-shadow: 0 0 10px var(--clr-gray-light);
    justify-self: center;
    margin-top: 60px;
    border-radius: 10px;

    .head{
        padding: 30px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .options{

            .add{
                width: 40px; height: 40px;
                font-size: 1.2rem;
                background-color: var(--clr-green);
                border-radius: 25%;
                cursor: pointer;
                }
            }
        }

    table{
        width: 90%;
        border-collapse: collapse;
        margin: 0 auto;
        outline: 3px solid var(--clr-white2);
        outline-offset: 5px;
        
        th, td{
            width: calc((100%) / 5);
        }
        th{
            padding: 10px;
            border-bottom: 2px solid var(--clr-gray-light);
            border-left: 2px solid var(--clr-white2);
        }
        th:first-child{
            border-left: 0;
        }
        td{
            height: 1.5rem;
            padding: 5px 10px;
            text-align: right;  
        }
        tr:nth-child(even){
            background-color: var(--clr-white2);
        }
    
        .actions{
            text-align: center;
            letter-spacing: 20px;
            *{
                width: 40%;
                height: 1.5rem;
                border-radius: 10px;
                cursor: pointer;
            }
            .edit{
                border: 2px solid var(--clr-yellow);
            }
            .delete{
                border: 2px solid var(--clr-red);
            }
        }
    }
}
/* .wrapper .head .options button{
    margin: 0 20px;
    min-width: 100px;
    height: 1.5rem;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid var(--clr-yellow);
    transition: .2s;
    color: var(--clr-black);
    letter-spacing: 1px;
    font-family: 'Bahnschrift';
}
.wrapper .head .options button:hover{
    cursor: pointer;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
} */

#products{
    > .insert{
        position: fixed;
        top: 0; left: 0;
        width: 100vw; height: 100vh;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.534);
        display: flex;
        justify-content: center;
        align-items: center;


        > form{
            display: flex;
            padding: 20px;
            background-color: var(--clr-white);
            width: 500px;
            height: 600px;
            border-radius: 20px;
        }
    }
}
.hide{
    transform: translate(-100%);
}
.show{
    transform: translate(0);
}